.portfolio {
    &-banner {
        display: flex;
        padding-block: 14.8rem 3.2rem;
        background-color: $white-clr;
        @include mq(tablet-small) {
            height: 85vh;
            padding-block: 20rem 19rem;
        }
        .container {
            @include mq(tablet-small) {
                display: flex;
                justify-content: space-between;
            }
        }
        &__circles {
            @include mq(tablet-small) {
                flex-shrink: 0;
                width: 35rem;
            }
            .circles {
                display: flex;
                margin-top: 0.8rem;
                transform: translateX(-5rem);
                @include mq(tablet-small, max) {
                    display: none;
                }
            }
            .circle {
                margin-right: 1.2rem;
                width: 4.5rem;
                height: 4.5rem;
                border-radius: 50%;
                border: 1px solid $gray-clr;
                &-green {
                    border-color: $light-green-clr;
                }
            }
        }
        &__content {
            width: 100%;
        }
        &__title {
            margin-bottom: 4.4rem;
            letter-spacing: -0.07rem;
            @include mq(tablet-small) {
                margin-bottom: 5rem;
            }
        }
        &__description {
            max-width: 66.6rem;
            margin-bottom: 6rem;
            @include mq(tablet-small) {
                margin-bottom: 7rem;
            }
        }
        &__number {
            @include mq(tablet-small) {
                display: flex;
            }
            &__item {
                @include mq(tablet-small) {
                    margin-right: 7.8rem;
                }
                @include mq(tablet-small, max) {
                    margin-bottom: 4rem;
                }
                &__number {
                    margin-bottom: 1rem;
                    font-weight: 500;
                    font-size: 3.6rem;
                    letter-spacing: -0.07rem;
                    @include mq(tablet-small) {
                        font-size: 5.6rem;
                    }
                }
                &__title {
                    margin-left: 0.6rem;
                    text-transform: uppercase;
                    letter-spacing: 0.1rem;
                }
            }
        }
    }
    &-archieve {
        padding-bottom: 18rem;
        background-color: $white-clr;
        @include mq(tablet-small) {
            padding-bottom: 30rem;
        }
        .container {
            @include mq(tablet-small) {
                display: flex;
                align-items: flex-start;
            }
        }
        &__info {
            position: relative;
            margin-bottom: 7.2rem;
            z-index: 5;
            @include mq(tablet-small, max) {
                padding-block: 2rem;
                border-block: 1px solid $black-clr;
            } 
            @include mq(tablet-small) {
                position: sticky;
                top: 15rem;
                width: 35rem;
                flex-shrink: 0;
            }
            &__title {
                position: relative;
                margin-bottom: 2rem;
                font-size: 1.6rem;
                line-height: 2rem;
                font-weight: 700;
                cursor: pointer;
                user-select: none;
                @include mq(tablet-small, max) {
                    margin-bottom: 0;
                }
                @include mq(tablet-small) {
                    margin-bottom: 3.2rem;
                    font-size: 1.8rem;
                    line-height: 2.7rem;
                }
                &::before {
                    position: absolute;
                    content: '';
                    right: 0;
                    top: 50%;
                    width: 0.7rem;
                    height: 0.7rem;
                    border: 2px solid;
                    border-color: $black-clr $black-clr transparent transparent;
                    transform: translate(-50%, -50%) rotate(135deg);
                    transition: 0.3s;
                    @include mq(tablet-small) {
                        display: none;
                    }
                }
                &.active::before {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
            &__categories {
                @include mq(tablet-small, max) {
                    position: absolute;
                    background-color: $white-clr;
                    width: 100%;
                    padding-top: 3rem;
                    padding-bottom: 2rem;
                    @include element-hidden;
                }
                &.active {
                    @include element-show;
                    @include mq(tablet-small, max) {
                        border-bottom: 1px solid $black-clr;
                    }
                }
            }
        }
        &__category {
            @include mq(tablet-small, max) {
                position: absolute;
                background-color: $white-clr;
                width: 100%;
                padding-top: 3rem;
                padding-bottom: 2rem;
                @include element-hidden;
            }
            &__item {
                margin-bottom: 0.8rem;
                padding: 1rem;
                width: fit-content;
                font-size: 1rem;
                border-radius: 2rem;
                letter-spacing: 0.1rem;
                text-transform: uppercase;
                border: 1px solid $gray-clr;
                color: #4d4d4d;
                cursor: pointer;
                transition: 0.3s;
                &.active {
                    border-color: $light-green-clr;
                    background-color: $light-green-clr;
                    color: #003b36;
                }
                &:hover {
                    background-color: $white-clr;
                    border-color: $light-green-clr;
                }
            }
            &.active {
                @include element-show;
            }
        }
        &__content {}
        &__grid {
            display: grid;
            grid-template-columns: repeat(1, minmax(0, 1fr));
            gap: 6rem 0;
            @include mq(tablet-small) {
                gap: 7.2rem 3.8rem;
            }
            @include mq(tablet) {
                grid-template-columns: repeat(2, minmax(0, 1fr));
                gap: 7.2rem 3.8rem;
            }
            @include mq(desktop) {
                grid-template-columns: repeat(3, minmax(0, 1fr));
                gap: 7.2rem 3.8rem;
            }
            
            .loop-portfolio {
                width: 100%;
                @include mq(tablet-small, max) {
                    margin: 0;
                }
            }
        }
    }
}